<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test1.TestActivity1" />
        <activity android:name=".test1.row.RowActivity" />
        <activity android:name=".test1.row.RowActivity1" />
        <activity android:name=".test1.box.BoxActivity" />
        <activity android:name=".test1.box.BoxActivity1" />
        <activity android:name=".test1.column.ColumnActivity" />
        <activity android:name=".test1.column.ColumnActivity1" />
        <activity android:name=".test1.column.ColumnActivity2" />
        <activity android:name=".test1.column.ColumnActivity3" />
        <activity android:name=".test1.modifier.ModifierActivity" />
        <activity android:name=".test1.modifier.ModifierActivity1" />
        <activity android:name=".test1.modifier.ModifierActivity2" />
        <activity android:name=".test1.scaffold.ScaffoldActivity" />
        <activity android:name=".test1.scaffold.ScaffoldActivity1" />
        <activity android:name=".test1.constraintlayout.ConstraintLayoutActivity" />
        <activity android:name=".test1.constraintlayout.ConstraintLayoutActivity1" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity1" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity2" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity3" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity4" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity5" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity6" />
        <activity android:name=".test1.lazycolumn.LazyColumnActivity7" />
        <activity android:name=".test1.lazyrow.LazyRowActivity" />
        <activity android:name=".test1.lazyrow.LazyRowActivity1" />
        <activity android:name=".test1.lazyrow.LazyRowActivity2" />
        <activity android:name=".test1.lazyverticalgrid.LazyVerticalGridActivity" />
        <activity android:name=".test1.lazyverticalgrid.LazyVerticalGridActivity1" />
        <activity android:name=".test1.lazyverticalgrid.LazyVerticalGridActivity2" />
        <activity android:name=".test1.lazyverticalgrid.LazyVerticalGridActivity3" />
        <activity android:name=".test1.bottomnavigationview.BottomNavigationActivity" />
        <activity android:name=".test1.bottomnavigationview.BottomNavigationViewActivity1" />
        <activity android:name=".test1.customview.CustomViewActivity" />
        <activity android:name=".test1.customview.point.PointActivity" />
        <activity android:name=".test1.customview.point.PointActivity1" />
        <activity android:name=".test1.customview.point.PointActivity2" />
        <activity android:name=".test1.customview.point.PointActivity3" />
        <activity android:name=".test1.customview.point.PointActivity4" />
        <activity android:name=".test1.customview.point.PointActivity5" />
        <activity android:name=".test1.customview.point.PointActivity6" />
        <activity android:name=".test1.customview.point.PointActivity7" />
        <activity android:name=".test1.customview.line.LineActivity" />
        <activity android:name=".test1.customview.line.LineActivity1" />
        <activity android:name=".test1.customview.rect.RectActivity" />
        <activity android:name=".test1.customview.rect.RectActivity1" />
        <activity android:name=".test1.customview.rect.RectActivity2" />
        <activity android:name=".test1.customview.rect.RectActivity3" />
        <activity android:name=".test1.customview.rect.RectActivity4" />
        <activity android:name=".test1.customview.circle.CircleActivity" />
        <activity android:name=".test1.customview.circle.CircleActivity1" />
        <activity android:name=".test1.customview.circle.CircleActivity2" />
        <activity android:name=".test1.customview.oval.OvalActivity" />
        <activity android:name=".test1.customview.oval.OvalActivity1" />
        <activity android:name=".test1.customview.oval.OvalActivity2" />
        <activity android:name=".test1.customview.arc.ArcActivity" />
        <activity android:name=".test1.customview.arc.ArcActivity1" />
        <activity android:name=".test1.customview.arc.ArcActivity2" />
        <activity android:name=".test1.customview.arc.ArcActivity3" />
        <activity android:name=".test1.customview.image.ImageActivity" />
        <activity android:name=".test1.customview.image.ImageActivity1" />
        <activity android:name=".test1.customview.image.ImageActivity2" />
        <activity android:name=".test1.customview.path.PathActivity" />
        <activity android:name=".test1.customview.path.PathActivity1" />
        <activity android:name=".test1.customview.path.PathActivity2" />
        <activity android:name=".test1.customview.mode.ModeActivity" />
        <activity android:name=".test1.customview.mode.ModeActivity1" />
        <activity android:name=".test1.anim.AnimActivity" />
        <activity android:name=".test1.anim.test1.AnimTest1Activity" />
        <activity android:name=".test1.anim.test1.AnimTest1Activity1" />
        <activity android:name=".test1.anim.test1.AnimTest1Activity2" />
        <activity android:name=".test1.anim.test1.AnimTest1Activity3" />
        <activity android:name=".test1.anim.test1.AnimTest1Activity4" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity1" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity2" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity3" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity4" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity5" />
        <activity android:name=".test1.anim.test2.AnimTest2Activity6" />
        <activity android:name=".test1.anim.test3.AnimTest3Activity" />
        <activity android:name=".test1.anim.test3.AnimTest3Activity1" />
        <activity android:name=".test1.anim.test4.AnimTest4Activity" />
        <activity android:name=".test1.anim.test4.AnimTest4Activity1" />
        <activity android:name=".test1.anim.test4.AnimTest4Activity2" />
        <activity android:name=".test1.anim.test4.AnimTest4Activity3" />
        <activity android:name=".test1.anim.test4.AnimTest4Activity4" />
        <activity android:name=".test1.anim.test4.AnimTest4Activity5" />
        <activity android:name=".test1.jetpack.JetpackActivity" />
        <activity android:name=".test1.jetpack.test1.ViewModelActivity" />
        <activity android:name=".test1.jetpack.test1.ViewModelActivity1" />
        <activity android:name=".test1.jetpack.test1.ViewModelActivity2" />
        <activity android:name=".test1.jetpack.test2.FlowActivity" />
        <activity android:name=".test1.jetpack.test2.FlowActivity1" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity1" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity2" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity3" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity4" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity5" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity6" />
        <activity android:name=".test1.jetpack.test3.NavigationActivity7" />
        <activity android:name=".test1.mix.MixActivity" />
        <activity android:name=".test1.mix.test1.MixActivity1" />
        <activity android:name=".test1.mix.test2.MixActivity2" />
        <activity android:name=".test1.mix.test3.MixActivity3" />
        <activity android:name=".test1.mix.test4.MixActivity4" />
        <activity android:name=".test1.mix.test5.MixActivity5" />
        <activity android:name=".test1.mix.test6.MixActivity6" />
        <activity android:name=".test1.mix.test7.MixActivity7" />
        <activity android:name=".test2.TestActivity2" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity1" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity2" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity3" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity4" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity5" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity6" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity7" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity8" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity9" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity10" />
        <activity android:name=".test2.lazylayout.LazyLayoutActivity11" />
        <activity android:name=".test2.derivedstateof.DerivedStateOfActivity" />
        <activity android:name=".test2.derivedstateof.DerivedStateOfActivity1" />
        <activity android:name=".test2.derivedstateof.DerivedStateOfActivity2" />
        <activity android:name=".test2.layout.LayoutActivity" />
        <activity android:name=".test2.layout.LayoutActivity1" />
        <activity android:name=".test2.layout.LayoutActivity2" />



    </application>

</manifest>